.contacts-page {
    background-color: #121111;
    color: antiquewhite;
    min-height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.contacts-heading {
    text-align: center;
    margin-bottom: 20px;
}

.contacts-info {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}
#email:link{
    color: #f1d5b1;
    text-decoration: none;
}
#email:active{
    color: antiquewhite;
}
#email:visited{
    color: antiquewhite;
}
#email:hover{
    color: antiquewhite;
}